<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="student" class="com.seleniumexpress.ioc.Student">-->
<!--        <property name="id" value="1" />-->
<!--        <property name="studentName" value="Abhilash Panigrahi" />-->
<!--    </bean>-->

    <bean id="student" class="com.seleniumexpress.ioc.Student">
        <constructor-arg name="id" value="1" />
        <constructor-arg name="studentName" value="Abhilash Panigrahi" />
    </bean>

    <bean id="dilip" class="com.seleniumexpress.ioc.Student">
        <constructor-arg name="id" value="1" type="int"/>
    </bean>



</beans>